<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rick&amp;Morty.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F15FB9082AA77C39001580D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F15FB9182AA77C3A001580D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F15FB9222AA77C3A001580D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
